<!-- Barra de navegación -->
<header class="header-main">
    <a href="/src/index.html" class="logo">
        <img src="/src/assets/img/logo-blanco.png" alt="Logo Routur">
    </a>
    <nav class="header-links">
        <a href="visitas.html" class="nav-link">Visitas</a>
        <a href="" class="nav-link">Información</a>
        <a href="" class="nav-link">Iniciar sesión</a>
    </nav>
</header>
<!-- ----------------------------------------------------------- -->
<!-- Contenedores -->

<!-- Seccion 1 -->
<section class="seccion1">
    <div class="seccion1-titulos">
        <h5>ES TIEMPO DE</h5>
        <h1>VISITAR <br> CERRILLOS DE DÍAZ</h1>
    </div>            
</section>

<!-- Seccion 1.2  - Mensaje -->
<section class="mensaje">
    <div class="mensaje-contenedor">
        <h1>PERMÍTANOS ORGANIZAR SU VIAJE</h1>
        <p>
            ¿Necesitas un lugar para escaparte? <br>
            No hay mejor rincón en el mundo para esconderse de lo aburrido y cotidiano <br> que el mágico Cerrillos de Díaz.
        </p>
    </div>
</section>
<!-- ----------------------------------------------------------- -->

<!-- Seccion 2 | Actividaddes-->
<section class="actividades">
    <!-- Articulo que muestra las actividades  -->
    <div class="actividad-titulo">   
        <h1>VIVE</h1>
    </div>

    <!-- Aventura -->
    <article class="actividad">
        <div class="actividad-imagen">   <!-- seccion de la imagen -->
            <img src="/src/assets/img/vive-1.jpg" alt="Aventuras">          
        </div>
        <h3>Aventuras</h3>     <!-- titulo -->
        <div>   
            <!-- botón -->
            <button class="boton-diseno" onclick="location.href='/aventuras/aventuras.html'">
                Aventurarse
            </button>
        </div>
    </article>
    <!-- Cultura -->
    <article class="actividad">
        <div class="actividad-imagen">   <!-- seccion de la imagen -->
            <img src="/src/assets/img/vive-3.jpg" alt="Cultura"> 
        </div>
        <h3>Cultura</h3>     <!-- titulo -->
        <div>   
            <!-- botón -->
            <button class="boton-diseno"  onclick="location.href='/cultura/cultural.html'">
                Culturizarse
            </button>
        </div>
    </article>
    <!-- Relajación -->
    <article class="actividad">
        <div class="actividad-imagen">   <!-- seccion de la imagen -->
            <img src="/src/assets/img/vive-2.jpg" alt="Relajacion">  
        </div>
        <h3>Relajación</h3>     <!-- titulo -->
        <div>   
            <!-- botón -->
            <button class="boton-diseno" onclick="location.href='/relajacion/relajacion.html'">
                Relajarse
            </button>
        </div>
    </article>
</section>

<!-- ---------------------------------------------------------------------------- -->
<!-- Sección 4 | informacion de ROUTUR-->
<section class="que-es-Routur">
    <div class="logo-routur">
        <img src="/src/assets/img/logo-blanco.png" alt="Routur">
        <h1>Routur</h1>
    </div>
    <div class="quienes-somos">
        <p>
            Pequeña descripción general de quienes somos, y qué es lo que hacemos.
            <br><br>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis, animi minima? Expedita similique.
        </p>
    </div>
</section>

<!-- ---------------------------------------------------------------------------- -->
<!-- Sección 5 | FOOTER -->
<footer class="footer-main">
    <div class="contacto">
        <h4>Contacto</h4>
        
        <p>Routur.c@gmail.com</p>
        <p>227-84-81-32</p>
    </div>
    <div class="logo-footer">
        <img src="/src/assets/img/logo-blanco.png" alt="Routur">
    </div>
</footer>