<!-- Barra de navegación -->
<header class="header-main">
  <a href="#" class="logo">
      <img src="/src/assets/img/logo-blanco.png" alt="Logon Routur">
  </a>
  <nav class="header-links">
      <a href="visitas/visitas.html" class="nav-link">Visitas</a>
      <a href="#" class="nav-link">Información</a>
      <a href="" class="nav-link">Iniciar sesión</a>
  </nav>
</header>

<!-- ----------------------------------------------------------- -->
    <!-- Contenedores -->

    <!-- Seccion 1 -->
    <section class="seccion1">
        <div class="seccion1-titulos">
            <h5>Routur</h5>
            <h1>CERRILLOS DE <br> DÍAZ</h1>
        </div>            
    </section>

    <!-- Seccion 2 | Actividaddes-->
    <section class="actividades">
        <!-- Articulo que muestra las actividades  -->
        <div class="actividad-titulo">   
            <h1>VIVE</h1>
        </div>

        <!-- Aventura -->
        <article class="actividad">
            <div class="actividad-imagen">   <!-- seccion de la imagen -->
                <img src="/src/assets/img/vive-1.jpg" alt="imagen de aventura"> 
            </div>
            <h3>Aventuras</h3>     <!-- titulo -->
            <div>   
                <!-- botón -->
                <button class="boton-diseno" onclick="location.href='aventuras/aventuras.html'">
                    Aventurarse
                </button>
            </div>
        </article>
        <!-- Cultura -->
        <article class="actividad">
            <div class="actividad-imagen">   <!-- seccion de la imagen -->
                <img src="/src/assets/img/vive-3.jpg" alt="imagen de cultura"> 
                
            </div>
            <h3>Cultura</h3>     <!-- titulo -->
            <div>   
                <!-- botón -->
                <button class="boton-diseno" onclick="location.href='cultura/cultural.html'">
                    Culturizarse
                </button>
            </div>
        </article>
        <!-- Relajación -->
        <article class="actividad">
            <div class="actividad-imagen">   <!-- seccion de la imagen -->
                <img src="/src/assets/img/vive-2.jpg" alt="imagen de relajación">  
            </div>
            <h3>Relajación</h3>     <!-- titulo -->
            <div>   
                <!-- botón -->
                <button class="boton-diseno" onclick="location.href='relajacion/relajacion.html'">
                    Relajarse
                </button>
            </div>
        </article>
    </section>
    <!-- ---------------------------------------------------------------------------- -->
    <!-- Sección 2 | Descripcion  -->

    <section class="seccion-descripcion">
        <div class="imagen-izquierda">  <!-- contenedor para la imagen que se muestra en el lazo izquierdo -->
            <img src="/src/assets/img/descripcion1.jpg" alt="" width="300px">
            
        </div>
        <article class="sec-informacion">
            <h1>UN LUGAR PARA <br> ESTAR</h1>
            <p>
                Cerrillos de Díaz es una comunidad pertenenciente al municipio de Alto Lucero.
                <br><br>
                Mayormente conocida por sus músicos y distinguido por las arpas.
                <br><br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto nihil, ipsa similique maiores velit aperiam laudantium animi sit possimus quae est neque, nam dolorum odio accusamus non dicta, in impedit.
            </p>
            <div class="mas-informacion">   
                <!-- botón -->
                <button class="boton-diseno">
                    Más información
                </button>
            </div>
        </article>

    </section>
    <!-- ---------------------------------------------------------------------------- -->
    <!-- Sección 3 | Descripcion 2 -->

    <section class="seccion-descripcion2">
        
        <article class="sec-informacion2">
            <h1>EN AMOR CON <br> ROUTUR</h1>
            <p>
                Cerrillos de Díaz es una comunidad pertenenciente al municipio de Alto Lucero.
                <br><br>
                Mayormente conocida por sus músicos y distinguido por las arpas.
                <br><br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto nihil, ipsa similique maiores velit aperiam laudantium animi sit possimus quae est neque, nam dolorum odio accusamus non dicta, in impedit.
            </p>
            <div class="mas-informacion2">   
                <!-- botón -->
                <button class="boton-diseno">
                    Más información
                </button>
            </div>
        </article>
        <div class="imagen-derecha">  <!-- contenedor para la imagen que se muestra en el lazo izquierdo -->
            <img src="/src/assets/img/descripcion2.jpg" alt="" width="300px">
        </div>
    </section>

    <!-- ---------------------------------------------------------------------------- -->
    <!-- Sección 4 | informacion de ROUTUR-->

    <section class="que-es-Routur">
        <div class="logo-routur">
            <img src="/src/assets/img/logo-blanco.png" alt="Routur">
            <h1>Routur</h1>
        </div>
        <div class="quienes-somos">
            <p>
                Pequeña descripción general de quienes somos, y qué es lo que hacemos.
                <br><br>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis, animi minima? Expedita similique.
            </p>
        </div>
    </section>

    <!-- ---------------------------------------------------------------------------- -->
    <!-- Sección 5 | FOOTER -->
    <footer class="footer-main">
        <div class="contacto">
            <h4>Contacto</h4>
            
            <p>Routur.c@gmail.com</p>
            <p>227-84-81-32</p>
        </div>
        <div class="logo-footer">
            <img src="/src/assets/img/logo-blanco.png" alt="Routur">
        </div>
    </footer>