<!-- Barra de navegación -->
<header class="header-main">
    <a href="/index.html" class="logo">
        <img src="/img/logo-blanco.png" alt="Logo">
    </a>
    <nav class="header-links">
        <a href="/visitas/visitas.html" routerLink="../visitas" class="nav-link">Visitas</a>
        <a href="" class="nav-link">Información</a>
        <a href="" class="nav-link">Iniciar sesión</a>
    </nav>
</header>
<!-- ----------------------------------------------------------- -->
<!-- Contenedores -->

<!-- Seccion 1 -->
<section class="seccion1">
    <div class="seccion1-titulos">
        <h5>ES TIEMPO DE</h5> 
        <h1>AVENTURAS</h1>
    </div>            
</section>

<!-- Seccion 1.2  - Mensaje -->
<section class="mensaje">
    <div class="mensaje-contenedor">
        <h1>EXPERIMENTA ALGO ÚNICO</h1>
        <p>
            Si quieres encontrar tantas aventuras como puedas, Cerrillos de Díz es el lugar para ti. <br>
            Explora la hermosa naturaleza llena de vida silvestre emocionante: <br> donde quiera que vayas, este lugar ofrecerá muchas oportunidades <br> emocionantes para tu corazón aventurero.
        </p>
    </div>
</section>

<!-- ---------------------------------------------------------------------------- -->
<!-- Sección 2 | Descripcion  -->

<section class="seccion-descripcion">
    <div class="imagen-izquierda">  <!-- contenedor para la imagen que se muestra en el lazo izquierdo -->
        <img src="/img/aventuras/ordenaVacas.png" alt="" width="300px">
        
    </div>
    <article class="sec-informacion">
        <h1>ORDEÑAR VACAS</h1>
        <br><br>
        <p>
            Ven y experimenta el recorrido de la ordeña de vacas en la región.
            Guiado por un peblador local y recorriendo las praderas en las que pasra el ganado. Disfruta un buen vaso de punche con leche recién ordeñada.
        </p>
        
    </article>

</section>
<!-- ---------------------------------------------------------------------------- -->
<!-- Sección 3 | Descripcion 2 -->

<section class="seccion-descripcion2">
    
    <article class="sec-informacion2">
        <h1>CAMINATAS EN LA <br>NATURALEZA</h1>
        <br><br>
        <p>
            Recorre este bello pueblo admirando los hermosos paisajes que ofrece. No te pierdas de un contacto único con la naturaleza.
            
            
        </p>
    </article>
    <div class="imagen-derecha">  <!-- contenedor para la imagen que se muestra en el lazo izquierdo -->
        <img src="/img/aventuras/caminatas.png" alt="Caminatas" width="300px">
    </div>
</section>

<!-- ---------------------------------------------------------------------------- -->

 <!-- Sección 4 | informacion de ROUTUR-->

 <section class="que-es-Routur">
    <div class="logo-routur">
        <h1>Aventura en Cerrillos de Díaz</h1>
        <p>
            Si desea elegir actividades activas para que sus vacaciones sean memorables, podemos ayudarlo con eso. Póngase en contacto con nosotrosos para organizar su viaje.
        </p>
    </div>
    <div class="quienes-somos">
        <button class="boton-precios">Precio</button>
    </div>
</section>

<!-- ---------------------------------------------------------------------------- -->
<!-- Sección 5 | FOOTER -->
<footer class="footer-main">
    <div class="contacto">
        <h4>Contacto</h4>
        
        <p>Routur.c@gmail.com</p>
        <p>227-84-81-32</p>
    </div>
    <div class="logo-footer">
        <!-- <img src="img/logo-blanco.png" alt="Routur"> -->
        <img src="/img/logo-blanco.png" alt="Routur">
    </div>
</footer>